@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Supria";
  font-style: normal;
  src: url("../assets/fonts/Supria\ Sans\ Regular.otf");
}
@font-face {
  font-family: "Youngserif";
  font-style: normal;
  src: url("../assets/fonts/youngserif.regular.otf");
}
.supria {
  font-family: "Supria";
}
.youngserif {
  font-family: "Youngserif";
}
html,
body {
  font-family: "Nunito", sans-serif;
}
